<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Sistema empleados</title>


  <!-- Bootstrap core CSS -->
  <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link th:href="@{css/heroic-features.css}" rel="stylesheet">

</head>

<body>



<!-- Page Content -->
<div class="container">

  <!-- Jumbotron Header -->
  <header class="jumbotron my-4">
    <h1 class="display-3">Bienvenido a sistema de empleados</h1>
  </header>
  <div class="mx-auto" style="margin-bottom: 10px;">
    <a class="btn btn-primary" th:href="@{/admin/employees/create}" > Crear Empleado</a>
  </div>
  <div class="mx-auto" style="margin-bottom: 10px;">
    <a class="btn btn-primary" th:href="@{/admin/employees/show}" > Ver todos los Empleado</a>
  </div>
  <!-- Page Features -->
  <div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4" th:each="employee:${employee}" >
      <div class="card h-100">
        <img class="card-img-top" th:src="@{/images/{img}  (img = ${employee.image})}" alt="">
        <div class="card-body">
          <p class="card-text" th:text="${employee.name}">Nombre del empleado.</p>
        </div>
        <div class="card-footer">
          <a th:href="@{/home/employee-detail/{id} (id=${employee.id})}" class="btn btn-success">Ver empleado</a>
        </div>
      </div>
    </div>

  </div>
  <!-- /.row -->

</div>
<!-- /.container -->


<!-- Bootstrap core JavaScript -->
<script th:src="@{vendor/jquery/jquery.min.js}"></script>
<script th:src="@{vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>

</body>

</html>
